
body
{
  margin-left: 30px;
}

#header
{
  color: steelblue;
}

.true
{
  height: 30px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: aliceblue; 
}

.false
{
  background-color: lightgrey;
  color: darkgrey;
  height: 30px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.buffer
{
  height: 30px;
}

table, th, td
{
  border: 2px solid black;
  border-collapse: collapse;
}

th, td
{
  width: 65px;
  padding: 5px;
}

td
{
  color: darkcyan;
}

.nameBox
{
  width: 200px;
}
